@model IEnumerable<TransportManagment.Models.CargoDTO>

@{
    ViewData["Title"] = "Cargoes";
    bool IsAdmin() => User.IsInRole("admin");
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-area="" asp-controller="Cargoes" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="CargoesList" asp-route-sortOrder="@ViewData["StartSortParm"]">@Html.DisplayNameFor(model => model.StartOfShipping)</a>
            </th>
            <th>
                <a asp-action="CargoesList" asp-route-sortOrder="@ViewData["EndSortParm"]">@Html.DisplayNameFor(model => model.EndOfShipping)</a>
            </th>
            <th>
                <a asp-action="CargoesList" asp-route-sortOrder="@ViewData["DepartureSortParm"]">@Html.DisplayNameFor(model => model.Departure)</a>
            </th>
            <th>
                <a asp-action="CargoesList" asp-route-sortOrder="@ViewData["DestinationSortParm"]">@Html.DisplayNameFor(model => model.Destination)</a>
            </th>
            <th>
                <a asp-action="CargoesList" asp-route-sortOrder="@ViewData["InfoSortParm"]">@Html.DisplayNameFor(model => model.Info)</a>
            </th>
            <th>
                <a asp-action="CargoesList" asp-route-sortOrder="@ViewData["WeightSortParm"]">@Html.DisplayNameFor(model => model.Weight)</a>
            </th>
            <th>
                <a asp-action="CargoesList" asp-route-sortOrder="@ViewData["VolumeSortParm"]">@Html.DisplayNameFor(model => model.Volume)</a>
            </th>
            <th>
                <a asp-action="CargoesList" asp-route-sortOrder="@ViewData["TruckTypeSortParm"]">@Html.DisplayNameFor(model => model.TruckType)</a>
            </th>
            <th>
                <a asp-action="CargoesList" asp-route-sortOrder="@ViewData["CompanySortParm"]">@Html.DisplayNameFor(model => model.Company)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartOfShipping)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndOfShipping)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruckType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.UserName)
            </td>
            <td>
                 @if (IsAdmin())
                 {  
                     <a asp-action="Edit" asp-route-id="@item.ID">Edit</a><span> |</span>
                     <a asp-area="" asp-controller="Cargoes" asp-action="Details" asp-route-id="@item.ID">Details</a><span> |</span>
                     <a asp-area="" asp-controller="Cargoes" asp-action="Delete" asp-route-id="@item.ID">Delete</a> 
                 }
                 else
                 {
                    <a asp-area="" asp-controller="Cargoes" asp-action="Details" asp-route-id="@item.ID">Details</a>
                 }

            </td>
        </tr>
}
    </tbody>
</table>
