
@model IEnumerable<TransportManagment.Models.TransportDTO>

@{
    ViewData["Title"] = "Transports";
}

<h1>All available transport</h1>

<p>
    <a asp-area="" asp-controller="Transports" asp-action="Create">Create New</a>
</p>

<form asp-action="TransportsList" method="get">
    <div class="form-actions no-color">
        
        <p>

            Start Shipping:&nbsp;<input type="date" name="SearchStartShipping" value="@ViewData["StartShippingFilter"]" />
            Departure:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="SearchDeparture" value="@ViewData["DepartureFilter"]" />
            Weight :    <input type="number" name="SearchWeight" value="@ViewData["WeightFilter"]" />
            Company :    <input type="text" name="SearchCompany" value="@ViewData["CompanyFilter"]" />

        </p>
            <p>
                End Shipping:&nbsp;&nbsp;<input type="date"  name="SearchEndShipping" value="@ViewData["StartShippingFilter"]" />
                Destinastion: <input type="text"  name="SearchDestination" value="@ViewData["DestinationFilter"]" />
                Volume :    <input type="number"  name="SearchVolume" value="@ViewData["VolumeFilter"]" />
                Truck type :    <input type="text"  name="SearchType" value="@ViewData["TypeFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="TransportsList">Back to Full List</a>
            </p>
        
    </div>
</form>

<table class="table">
    <thead>
        <tr> 
            <th>
                <a asp-action="TransportsList" asp-route-sortOrder="@ViewData["StartSortParm"]">@Html.DisplayNameFor(model => model.StartOfShipping)</a>
            </th>
            <th>
                <a asp-action="TransportsList" asp-route-sortOrder="@ViewData["EndSortParm"]">@Html.DisplayNameFor(model => model.EndOfShipping)</a>
            </th>
            <th>
                <a asp-action="TransportsList" asp-route-sortOrder="@ViewData["DepartureSortParm"]">@Html.DisplayNameFor(model => model.Departure)</a>
            </th>
            <th>
                <a asp-action="TransportsList" asp-route-sortOrder="@ViewData["DestinationSortParm"]">@Html.DisplayNameFor(model => model.Destination)</a>
            </th>
            <th>
                <a asp-action="TransportsList" asp-route-sortOrder="@ViewData["WeightSortParm"]">@Html.DisplayNameFor(model => model.MaxWeight)</a>
            </th>
            <th>
                <a asp-action="TransportsList" asp-route-sortOrder="@ViewData["VolumeSortParm"]">@Html.DisplayNameFor(model => model.MaxVolume)</a>
            </th>
            <th>
                <a asp-action="TransportsList" asp-route-sortOrder="@ViewData["TruckTypeSortParm"]">@Html.DisplayNameFor(model => model.TruckType)</a>
            </th>
            <th>
                <a asp-action="TransportsList" asp-route-sortOrder="@ViewData["CompanySortParm"]">@Html.DisplayNameFor(model => model.Company)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartOfShipping)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndOfShipping)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxVolume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TruckType.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.UserName)
                </td>
                <td>
                    <a asp-area="" asp-controller="Transports" asp-action="Details" asp-route-id="@item.ID">Details</a>  
                </td>
            </tr>
        }
    </tbody>
</table>

